<ion-header>
  <ion-toolbar  color="danger" >
    <ion-title> My Applications </ion-title>
    <ion-buttons (click)="goToEmployers()" slot="primary">
        <ion-button  >
          <ion-icon slot="icon-only" name="chevron-forward-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="empty"  *ngIf="applicationstatus?.length === 0 ">
    <ion-icon name="notifications"></ion-icon>     
    <h5>No Applications made!</h5>
    <small>
      You haven't applied to any jobs
    </small>
  </div>

  <br>
  <ion-list lines="none">
    <div padding>
      <span style="color:#5e08c0;"><b> Applications Made </b></span>
    </div> <br> 

    <ion-item *ngFor="let application of applicationstatus" >

     <!-- <ion-thumbnail slot="start">
        <img [src]="application.job.imageUrl"/>
      </ion-thumbnail>-->
      <ion-label>
        <h2>{{application.job.name}}</h2>
        <p>Description : {{application.job.jobDescription}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="presentActionSheet(application)" *ngIf="application.status === 'new' ">Confirm application</ion-button>
      <ion-button fill="outline" color="success" disabled slot="end" *ngIf="application.status === 'confirmed'" >Processing application</ion-button>
      <ion-button fill="outline" color="danger" disabled slot="end" *ngIf="application.status === 'canceled'" >Cancelled</ion-button>
    </ion-item>
     
    <ion-segment (click)="goToEmployers()" >
      <ion-segment-button value="friends">
        <ion-label>View available employers</ion-label> 
      </ion-segment-button>
     
    </ion-segment>

  </ion-list>
      
</ion-content>    