<ion-header>
  <ion-toolbar  color="primary" >
    <ion-title> Available jobs at {{employer.name}}</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="backToEmployers()" >
          <ion-icon  slot="icon-only" name="arrow-undo-circle-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="goToProfile()" >
          <ion-icon  slot="icon-only" name="person"></ion-icon>
        </ion-button> <!--(click)="fetchAllJobs()-->
    
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar></ion-searchbar>
<!-- code that will render a list of jobs -->

<ion-content>
  <br>
  <ion-list lines="none">
    <div padding>
      Vacant positions at <span style="color:#1f8611;">{{employer.name}}</span>
    </div> <br> 

    
    <ion-item *ngFor="let job of jobs" (click)="presentModal(job)" ><!--(click)="fetchAllJobs()" -->
      <ion-thumbnail slot="start">
        <img [src]="job.imageUrl"/>
      </ion-thumbnail>
      <ion-label>
        <h2>{{job.name}}</h2>
        <p>Description : {{job.jobDescription}}</p>
       <!-- <p>Requirements : {{job.requirements}}</p>
        <p>{{job.duration}}</p>-->
      </ion-label>
      <ion-button slot="end"> Apply </ion-button>
    </ion-item> 

  </ion-list>  
</ion-content>