<ion-header>
  <ion-toolbar  color="primary" >
    <ion-title> Applications </ion-title>
    <ion-buttons slot="primary">
        <ion-button  >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>

  <ion-list lines="none">
    <div padding>
       <span style="color:#1f8611; margin:10px">Received Applications</span>
    </div> <br> 

    <div class="empty"  *ngIf="applicantstatus?.length === 0 ">
      <ion-icon name="notifications"></ion-icon>     
      <h5>No Applications !</h5>
      <small>
        No received Applications
      </small>
    </div>

  <!--  <ion-item  *ngFor="let application of applications" >
      <ion-thumbnail slot="start">
        <img [src]="application.job.imageUrl"/> // to be edited 
      </ion-thumbnail>
      <ion-label>
        <div class="empty" *ngIf="files?.length === 0 ">
          <ion-icon name="images"></ion-icon>     
          <h5>No Pictures in {{employer.name}} !</h5>
          <small>
            You can view pictures gallery after their shop has been stocked
          </small>
        </div>
      
        <ion-row>
          <ion-col *ngFor="let file of files" class="imgContainer" text-center size="4" sizeMd="4" sizeXl="3">
            <p>Open <a href="file.pdfUrl">CV here...</a>.</p>
          </ion-col>
        </ion-row>
  
  
        <h2>{{application.user.name}}</h2>
        <p>{{application.job.name}} | Ugx.{{application.job.position}} </p>
 
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="confirmApplication(application)" *ngIf="application.status==='new'">Confirm</ion-button>
      <ion-button name="call" fill="outline" slot="end" *ngIf="application.status==='pending'" (click)="callUser(application.user.phone)">Contact</ion-button>
      <ion-button fill="outline"  color="success" disabled slot="end" *ngIf="application.status==='confirmed'" (click)="callUser(application.user.phone)"  >Application accepted</ion-button>
      <ion-button fill="outline"  color="danger"  disabled slot="end" *ngIf="application.status==='canceled'">Application denied</ion-button>
    </ion-item> -->

    <ion-item  *ngFor="let application of applicantstatus" >
     <!-- <ion-thumbnail slot="start">
        <img [src]="application.job.imageUrl"/>
      </ion-thumbnail>-->
      <ion-label>
        <h2>{{application.job.name}}</h2>
        <p>Description : {{application.job.jobDescription}}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="confirmApplication(application)" *ngIf="application.status==='new'">Confirm</ion-button>
      <ion-button name="call" fill="outline" slot="end" *ngIf="application.status==='pending'" (click)="callUser(application.user.phone)">Contact</ion-button>
      <ion-button fill="outline"  color="success" disabled slot="end" *ngIf="application.status==='confirmed'" (click)="callUser(application.user.phone)"  >Application accepted</ion-button>
      <ion-button fill="outline"  color="danger"  disabled slot="end" *ngIf="application.status==='canceled'">Application denied</ion-button>
    </ion-item>

  </ion-list>
      
</ion-content>