<ion-header>
  <ion-toolbar color="primary">
    <ion-title>VACANT POSITIONS</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="addBtnClicked()" *ngIf="openForm" >
        <ion-icon slot="icon-only" name="calendar"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-searchbar></ion-searchbar>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addBtnClicked()" *ngIf="!openForm">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <br>
  <div *ngIf="openForm" class="form">
    <ion-item-divider>
      <ion-label>
        Add Vacant positions
      </ion-label>
    </ion-item-divider>

    <form #form="ngForm" (ngSubmit)="addServices(form)">
      <ion-item>
        <ion-label position="stacked">Name of Positions</ion-label>
        <ion-input type="text" ngModel name="name" required #serviceCtrl="ngModel" placeholder="Job Title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Job Description</ion-label>
        <ion-input type="text" ngModel name="jobDescription" required #serviceCtrl="ngModel" placeholder="Job Description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Date Job is Posted</ion-label>
        <ion-input type="text" ngModel name="postDate" required #serviceCtrl="ngModel" placeholder=" "></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>field</ion-label>
        <ion-select ngModel  name="type" required>
          <ion-select-option  value="administration">ADMINISTRATION</ion-select-option>
          <ion-select-option  value="it">IT PROFESSIONAL</ion-select-option>
          <ion-select-option  value="hospitality">HOSPITALITY</ion-select-option>
          <ion-select-option  value="advertisement">ADVERTISEMENT</ion-select-option>
          <ion-select-option  value="other">OTHER</ion-select-option>
        </ion-select>
      </ion-item> <br/>

      <ion-item>
        <ion-col size="2">
          <img [src]="img" alt="" style="width:50px; height:45px; object-fit: cover;">
        </ion-col>
        <ion-col size="10">
            <ion-item>
                <input
                  type="file"
                  class="fileInput"
                  (change)="selectImage($event)"
                />
                <label for="file"><ion-icon name="images"></ion-icon> Select </label>
              </ion-item>
        </ion-col>
      </ion-item>

    <ion-item>
      <ion-label position="stacked">Relevant qualifications</ion-label>
      <ion-textarea ngModel name="qualifications" required #descriptionCtrl="ngModel" placeholder="Relevant Academic qualifications"
      ></ion-textarea>
    </ion-item>
    <br>
    <div>
      <ion-button type="submit" expand="block" [disabled]="processing">{{btnText}}</ion-button>
    </div>
  </form>
</div>
<ion-list lines="none">
  <div padding>
    Available products for <span style="color:#1f8611;">{{employer.name}}</span>
  </div> <br> 
  
  <div class="empty"  *ngIf="jobs?.length === 0 ">
    <ion-icon name="logo-buffer"></ion-icon>     
    <h5>No Vacant Positions!</h5>
    <small>
      Add all Vacant Positions here
    </small>
    <ion-button  fill="clear" display="block" (click)="addBtnClicked()">Add Vacant Position</ion-button>
  </div>

  <ion-item *ngFor="let job of jobs"  >
    <ion-thumbnail slot="start">
      <img [src]="job.imageUrl"  onError="this.src='assets/icon/employer.jpg';" >
    </ion-thumbnail>
    <ion-label>
      <h2>{{job.name }}</h2>
      <p>{{job.jobDescription}}</p>

    </ion-label>
    <ion-button  class="title" type="submit"  shape="round" style="color:white" expand="block" (click)="deleteJob(job.id)">Delete</ion-button>
  </ion-item> 
</ion-list>  
  

</ion-content>
