<ion-header>
  <ion-toolbar  color="primary" >
    <ion-title>AVAILABLE EMPLOYERS</ion-title>
    <ion-buttons slot="primary">
        <ion-button (click)="goToApplicationStatus()" >
          <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
        <ion-button (click)="goToProfile()" >
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-buttons>  
  </ion-toolbar>
</ion-header>
<ion-searchbar showCancelButton="never" type="text" placeholder="Search for job..."></ion-searchbar>

<!-- scrollable content -->
<ion-content>
  <ion-card *ngFor="let employer of employers"  (click)="visitEmployer(employer)" >
    <img class="image" [src]="employer.img"/>
    <ion-card-header>
     <ion-card-title>{{employer.name}}</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     {{employer.description}}
   </ion-card-content>
   <ion-button  >
     View employer
   </ion-button>
 </ion-card>

 <div padding text-center>
  <ion-button class="logoutbtn" color="danger" fill="clear" (click)="logout()">
    Logout
  </ion-button>
 </div>

</ion-content>