<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Application</ion-title>
    <ion-buttons slot="end" (click)=" close()">
     <ion-label>Close</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <ion-card>
    <img [src]="theJob.imageUrl"  style="width:100%; object-fit: cover; height:200px;" alt=""   onError="this.src='assets/icon/favicon.png';" />-->
    <ion-card-header class="job" text-center>
      <ion-card-subtitle>{{theJob.title}} <b>{{theJob.description}}</b></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
      
  <div class="ion-padding">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <ion-list>
        <ion-input type="file" class="fileInput" (change)="selectDocument($event)"></ion-input>
        <ion-item>
            <ion-label position="stacked">Date of Application</ion-label>
            <ion-input type="date" ngModel name="date" required #dateCtrl="ngModel"></ion-input>
        </ion-item>
        <p class="erorr" *ngIf="!dateCtrl.valid && dateCtrl.touched">Please put the desired date.</p>

      

      </ion-list>
    <ion-button  type="submit" routerDirection="root"   shape="round" style="color:white;" expand="block" [disabled]='processing'> {{btnText}} </ion-button>

    </form>
  </div>
</ion-content>